# AOC

In [1]:
import pandas as pd
import math

## Star 1 (Distance between two lists)

In [2]:
a = pd.read_csv('~/Documents/7331/AOC/resources/2024_star1.tsv', sep = '   ', header = None)
veca = []
vecb = []
for i in range(len(a[0])):
    veca.append(a[0][i])
    vecb.append(a[1][i])
veca.sort()
vecb.sort()
vecc = [abs(veca[i]-vecb[i]) for i in range(len(veca))]
# for i in range(len(veca)):
#     print(str(veca[i])+" "+str(vecb[i])+" "+str(vecc[i]))
sum(vecc)
# pieces = a[0][0].split('   ')
# piece_1, piece_2 = pieces[0], pieces[1]
# piece_1, piece_2

/tmp/ipykernel_5276/819299964.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  a = pd.read_csv('~/Documents/7331/AOC/resources/2024_star1.tsv', sep = '   ', header = None)

1258579

## Star 2 (Similarity between list)
### Example code

In [3]:
a = [3,4,2,1,3,3]
b = [4,3,5,3,9,3]
print(type(b))
c = [b.count(a[i]) for i in range(len(a))]
sum([c[i]*a[i] for i in range(len(a))])

<class 'list'>

31

### Answer

In [4]:
c = [vecb.count(veca[i]) for i in range(len(veca))]
# sum([c[i]*veca[i] for i in range(len(veca))])
sum([c[i]*veca[i] for i in range(len(veca))])

23981443

## Star 3 Safe Levels
### Example

In [46]:
df = pd.DataFrame([[7,6,4,2,1],[1,2,7,8,9],[9,7,6,2,1],[1,3,2,4,5],[8,6,4,4,1],[1,3,6,7,9]])
count = 0
results = []
for index,row in df.iterrows():
    dec = 0
    inc = 0
    maxsep = 0
    for i in [0,1,2,3]:
        if row[i]!=None and row[i+1]!=None:
            if row[i]>row[i+1]:
                dec = 1
            else:
                inc = 1
            try:
                maxsep = max(maxsep, abs(row[i]-row[i+1]))
            except:
                print(row[i], row[i+1])
    if (dec and inc) or maxsep>3:
        count+=1 
        results.append(0)
    else:
        print("here")
        results.append(1)
print(count)            
df["result"] = results
df

here
here
4

   0  1  2  3  4  result
0  7  6  4  2  1       1
1  1  2  7  8  9       0
2  9  7  6  2  1       0
3  1  3  2  4  5       0
4  8  6  4  4  1       0
5  1  3  6  7  9       1

In [56]:
a = pd.read_csv('~/Documents/7331/AOC/resources/2024_star3.tsv', sep = '\0', header = None)
a = a[0].str.split(" ", expand=True)
count = 0
results = []
maxseps = []
for index,row in a.iterrows():
    dec = 0
    csep = 0
    inc = 0
    same = 0
    maxsep = 0
    for i in [0,1,2,3,4,5]:
        if row[i]!=None and row[i+1]!=None:
            if row[i]>row[i+1]:
                dec = 1
            else:
                if row[i]==row[i+1]:
                    same = 1
                else:
                    inc = 1
            csep = abs(int(row[i])-int(row[i+1]))
            maxsep = max(maxsep, csep)
    maxseps.append(maxsep)
    if (dec and inc) or same or csep>3: 
        results.append(0)
    else:
        count+=1
        results.append(1)
print(count)            
a["result"] = results
a["mseps"] = maxseps
a[a['result']==1]

559

ValueError: Length of values (5240) does not match length of index (1000)